:root {
	--brand-primary-lightest: #8bddbe;
    --brand-primary-lighter: #6acfa9;
    --brand-primary-light: #2caa7a;
    --brand-primary: #15a16b;
    --brand-primary-dark: #139160;
    --brand-primary-darker: #118156;
    --brand-primary-darkest: #0f714b;
    --brand-primary-invert: #fff;

    --brand-secondary-lightest: #9b9b9b;
    --brand-secondary-lighter: #646464;
    --brand-secondary-light: #414141;
    --brand-secondary: #2f2e2e;
    --brand-secondary-dark: #1f1f1f;
    --brand-secondary-darker: #1f1f1f;
    --brand-secondary-darkest: #1f1f1f;
    --brand-secondary-invert: #fff;

    --brand-success: #7dfcb3;
    --brand-warning: #ecaf01;
    --brand-danger: #ff432d;
}
